# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for storing session files
sessions

# Environment variables
.env

# Dependency directories
node_modules/

# Build directory
dist/

# Dependency files
package-lock.json
yarn.lock

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
